{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project 4</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Cabin|Roboto+Condensed" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav class="main-nav">
		<div class="nav-wrapper">
			 <div class="nav-left">
			 	<div class="logo">
			 		<a href="/"><img src="{% static 'images/logo.png' %}" alt="logo" /></a>
			 	</div>
			 </div>
			 <div class="nav-right">
			 	<div class="nav-menu">
			 		<a href="/charities/">Charities</a>
			 		<a href="/market/">Market</a>
			 		{% if user.is_authenticated %}
					<a href="/profile/">Profile</a>
					<a href="/logout/">Logout</a>
					{% else %}
					<a href="/login/">Login</a>
					<a href="/signup/">Signup</a>
			 		{% endif %}
			 	</div>
			 </div>
		</div>
	</nav>

	<main>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</main>

	<footer class="footer">
		<div class="footer-wrapper">
			
		</div>
	</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>