{% extends 'base.html' %}
{% block content %}

<div class="cart-wrapper">
  <div class="cart-heading group">
    <h1>My Cart</h1>
    <a href="/market">Back to Market</a>
  </div>
  <div class="cart-container">
    <!-- TODO: Color-shift on Odd/Even? -->
    <ul>
      {% for item in items %}
        <li>
          <div class="item-container">
            <div class="item-table">
              <div class="item-cell">
                <a href="/item/{{ item.id }}"><img src="/media/{{ item.image }}" alt="" class="itemImg"></a>
                <h3>{{ item.name }}</h3>
                <p>Charity {{ item.charity_percent }}%</p>
              </div>
              <div class="value-cell">
                <p>${{ item.price }}.00</p>
              </div>
              <div class="removal-cell">
                <a href="#">Remove</a>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="subtotal-wrapper">
      <div class="subtotal">
        <ul>
          <li>
            <span class="label">Charity</span>
            <span class="label-value">{{ percentage_total }}%</span>
          </li>
          <li>
            <span class="label">Charity $</span>
            <span class="label-value">$ {{ charity_sum }}</span>
          </li>
          <li>
            <span class="label total">TOTAL</span>
            <span class="labelvalue">${{ subtotal }}</span>
          </li>
          <li>
            <a class="checkout-button" href="#">Checkout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
   
{% endblock %}