{% extends 'base.html' %}
{% block content %}

{% if has_stripe_id == True %}
  {% if has_cart == True %}
    <div class="cart-wrapper">
      <div class="cart-heading group">
        <h1>My Cart</h1>
        <a class="site-button" href="/market">Back to Market</a>
      </div>
      <div class="cart-container">
        <!-- TODO: Color-shift on Odd/Even? -->
        <ul>
          {% for item in items %}
            <li>
              <div class="item-container">
                <div class="item-table">
                  <div class="item-cell">
                    <a href="/item/{{ item.id }}"><img src="/media/{{ item.image }}" alt="" class="itemImg"></a>
                    <h3>{{ item.name }}</h3>
                    <p>Charity {{ item.charity_percent }}%</p>
                  </div>
                  <div class="value-cell">
                    <p>${{ item.price }}.00</p>
                  </div>
                  <div class="removal-cell">
                    <a href="/cart/delete/{{ item.id }}/">Remove</a>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="subtotal-wrapper">
          <div class="subtotal">
            <ul>
              <li>
                <span class="label">Charity</span>
                <span class="label-value">{{ percentage_to_charity }}%</span>
              </li>
              <li>
                <span class="label">Charity $</span>
                <span class="label-value">$ {{ charity_sum }}</span>
              </li>
              <li>
                <span class="label total">TOTAL</span>
                <span class="labelvalue">${{ subtotal }}</span>
              </li>
              <li>
                <form action="/checkout/" method="POST">
                  {% csrf_token %}
                  <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="{{key}}"
                      data-amount="{{ subtotal }}00"
                      data-name="Demo Site"
                      data-description="Cart Checkout"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-zip-code="true"
                      data-locale="auto">
                  </script>
                  <input hidden value="{{subtotal}}" name="subtotal" />
                  <input hidden value="{{charity_sum}}" name="charity_sum" />
                  {% for item in items %}
                  <input hidden value="{{item.id}}" name="item_id">
                  <input hidden value="{{item.charity_id}}" name="charity_id" />
                  <input hidden value="{{item.user_id}}" name="user_id" />
                  {% endfor %}
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% else %}
  <div class="empty-cart">
    <h1>Your Cart is Empty!</h1>
    <a class="site-button" href="/market/"><img src="/static/images/basket.png"></img>Go to Market</a>
  </div>
  {% endif %}
{% else %}

<div class="stripe-signup">
	<div class="stripe-prompt">
		<p>Before you're able to purchase items,</p>
		<p>You must first register your new account</p>
	</div>
	<a class="site-button" href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=http://localhost:8000/stripe_redirect&client_id={{client_id}}&state={{user.id}}">Register Account</a>
</div>

{% endif %}

{% endblock %}