{% extends 'base.html' %}
{% block content %}

<div class="charity-wrapper">
  <div class="charity-heading group">
    <h3>Here are some of the Charities and Organizations we support</h3>
  </div>
  <ul>
    {% for charity in charities %}
    <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="{{ charity.image }}}" alt="{{ charity.name }}}">
            <h3>{{ charity.name }}</h3>
            <article>
              <p>{{ charity.mission_statement }}</p>
            </article>
          </div> 
          <div class="info-cell">
            <p>Money Raised by Users: <span>${{ charity.total_money_raised }}</span></p>
            <a href="{{ charity.link }}" target="_blank">Link to Website</a>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
    <!-- <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="https://i.imgur.com/E9vVX09.png" alt="Doctors Without Borders">
            <h3>Doctors Without Borders</h3>
            <article>
              <p>
                Doctors Without Borders/Medecins Sans Frontieres (MSF) helps people worldwide where 
                the need is greatest, delivering emergency medical aid to people affected by conflict, 
                epidemics, disasters, or exclusion from health care.
              </p>
            </article>
          </div>
          <div class="charity-cell"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="https://i.imgur.com/470obl9.jpg" alt="Leukemia & Lymphoma Society">
            <h3>Leukemia & Lymphoma Society</h3>
            <article>
              <p>
                The mission of The Leukemia & Lymphoma Society (LLS) is: Cure leukemia, lymphoma, Hodgkin's 
                disease and myeloma, and improve the quality of life of patients and their families.
              </p>
            </article>
          </div>
          <div class="charity-cell"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="https://i.imgur.com/mcAf62y.jpg" alt="Save the Children">
            <h3>Save the Children</h3>
            <article>
              <p>
                Save the Children is the world's leading independent organization for children. Our 
                vision is a world in which every child attains the right to survival, protection, development 
                and participation. Our mission is to inspire breakthroughs in the way the world treats children 
                and to achieve immediate and lasting change in their lives.
              </p>
            </article>
          </div>
          <div class="charity-cell"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="https://i.imgur.com/zASGpcs.jpg" alt="I Have A Dream Foundation">
            <h3>"I Have A Dream" Foundation</h3>
            <article>
              <p>
                The “I Have a Dream” Foundation provides long-term support to children and youth living 
                in under-resourced communities to achieve their full potential, by promoting from an early 
                age, values of higher education and career success, with opportunity guaranteed through 
                financial resources, and other services.
              </p>
            </article>
          </div>
          <div class="charity-cell"></div>
        </div>
      </div>
    </li>
    <li>
      <div class="charity-container">
        <div class="charity-table">
          <div class="charity-cell">
              <img src="https://i.imgur.com/SVGkJRR.jpg" alt="The National Alliance to End Homelessness">
            <h3>The National Alliance to End Homelessness</h3>
            <article>
              <p>
                Our Mission. The National Alliance to End Homelessness is a nonpartisan organization 
                committed to preventing and ending homelessness in the United States.
              </p>
            </article>
          </div>
          <div class="charity-cell"></div>
        </div>
      </div>
    </li> -->
  </ul>
</div>
   
{% endblock %}