{% extends 'base.html' %}
{% block content %}

<section class="landing-page">
	<div class="intro-container">
		<h1>Earn Some. Give Some.</h1>
		<h4>A percentage of every sale goes to a charity of your choosing. You decide your cut.</h4>
		<a href="/market/">Go to Market</a>
	</div>
</section>

<a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=http://localhost:8000/stripe_redirect&client_id={{client_id}}&state={{user.id}}"><img src="/static/images/blue-on-light.png" alt="stripe-btn"></a>

{% endblock %}