{% extends 'base.html' %}
{% block content %}

<section class="market-page">
	<main class="market-main">
		<div class="page-title">
			<h3>Market</h3>
		</div>
		<div class="filters">
			<div class="category-filters">
				<p>Filter by Category</p>
				<button class="filter-active" data-id="furniture">Furniture</button>
				<button data-id="clothing">Clothing</button>
				<button data-id="appliances">Appliances</button>
				<button data-id="hardware">Hardware</button>
				<button data-id="tech">Tech</button>
				<button data-id="athletics">Athletics</button>
				<button data-id="arts">Arts</button>
				<button data-id="bikes">Bikes</button>
				<button data-id="auto">Auto</button>
			</div>
			<div class="filter-form">
				<form>
					<input type="text" placeholder="Search by name..." name="search" />
					<input type="submit" value="Search" />
				</form>
			</div>
		</div>
		<section class="market-items-container">
			{% for item in items %}
				<div class="market-item {{item.category}}">
					<a href="/item/{{item.id}}">
						<div class="market-item-image">
							<img src="{{item.image}}" alt="item">
						</div>
						<div class="market-item-info">
							<h5>{{item.name}}</h5>
							<p>Seller: <a href="#">{{item.user}}</a></p>
							<p>Price: ${{item.price}}.00</p>
							<p>To Charity: {{item.percentCharity}}%</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</section>
	</main>
</section>

{% endblock %}