{% extends 'base.html' %}
{% block content %}

<section class="sell-page">
	<div class="sell-page-arrow-left">
		<i class="fa fa-angle-left"></i>
	</div>
	<div class="sell-page-arrow-right">
		<i class="fa fa-angle-right"></i>
	</div>
	<div class="sell-form-container">
		<form action="/post_item/" method="POST" enctype="multipart/form-data">
		 	{% csrf_token %}
		 	<div class="sell-form-page sell-form-current" id="sell-form-first">
		 		<div class="sell-form-content">
		 			<h1>Pick a Category</h1>
		 			{{form.category}}
		 		</div>
		 	</div>
		 	<div class="sell-form-page">
		 		<div class="sell-form-content">
		 			<h1>What are you selling?</h1>
			 		{{form.name}}
			 	</div>
		 	</div>
		 	<div class="sell-form-page">
		 		<div class="sell-form-content">
		 			<h1>Describe your Item</h1>
			 		{{form.description}}
			 	</div>
		 	</div>
		 	<div class="sell-form-page">
		 		<div class="sell-form-content">
		 			<h1>Upload a photo</h1>
		 			{{form.image}}
		 		</div>
		 	</div>
	 	 	<div class="sell-form-page">
	 	 		<div class="sell-form-content">
	 	 			<h1>What's your price?</h1>
	 		 		{{form.price}}
	 		 		<input type="submit" value="Post Item" />
	 		 	</div>
	 	 	</div>
		 	<div class="sell-form-page" id="sell-form-last">
		 		<div class="sell-form-content">
		 			<h1>How much are you donating?</h1>
			 		{{form.charity_percent}}
			 		<input type="submit" value="Post Item" />
			 	</div>
		 	</div>
		 </form>
	</div>
	
</section>

{% endblock %}