{% extends 'base.html' %}
{% block content %}
<h1 class="item-name">{{item.name}}</h1>
<h2 class="item-category">category: {{item.category}}</h2>
<hr class="horizontal-rule">
<div class="container">
        <div class="content">
            <div class="col col1">
                <img class="item" src="/media/{{ item.image }}" />
                <div class="message col1"><button class="button">Direct Message</button></div>
            </div>
            <div class="col col2">
                <p class="description">Description: {{item.description}}</p>
            </div>
            <div class="checkout-box col col3">
                <a href="/profile/{{ item.user_id }}"><p class="checkout-box-info">Seller: {{ item.user }}</p></a>
                <p class="checkout-box-info">Charity: {{item.charity}}</p>
                <p class="checkout-box-info">Donation Amount: {{item.charity_percent}}%</p>
                <p class="checkout-box-info price">Price: ${{item.price}}</p>
                {% if request.user.is_authenticated %}
                <div class="site-button">
                    <a class="" href="/thecart/{{item.id}}/">Add to Cart</a>
                </div>
                {% else %}
                <div class="add-to-cart-button">
                    <button class="disabled-site-button" href="/thecart/{{item.id}}/" type="button" disabled>Add to Cart</button>
                </div>
                {% endif %}
            </div>
            <hr>
        </div>
    </div>
{% endblock %}