{% extends 'base.html' %}
{% block content %}
<h1 class="item-name">{{item.name}}</h1>
<h2 class="item-category">category: {{item.category}}</h2>
<div class="container">
        <div class="content">
            <div class="col col1">
                <img class="item" src="{{item.image}}" />
                <div class="message col1"><button class="button">Direct Message</button></div>
            </div>
            <div class="col col2">
                <p class="description">Description: {{item.description}}</p>
            </div>
            <div class="checkout-box col col3">
                <p class="checkout-box-info">Location:</p>
                <p class="checkout-box-info condition">Condition:</p>
                <select name="" id="" class="condition">
                    <option value="">New</option>
                    <option value="">Good</option>
                    <option value="">OK</option>
                    <option value="">Poor</option>
                </select><br>
                <p class="checkout-box-info price">Price: ${{item.price}}.99</p>
                <div>
                    <button class="button checkout-box-info">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}